body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
    color: #fff
}

*{
    list-style: none;
    padding: 0;
}

.page {
    height: 100vh;
    width: 100%;
}

.bg_image {
    background-size: 100%;
    background-image: url(/static/images/4.jpg);
    background-repeat: no-repeat;
}

.bar {
    position: fixed;
    z-index:1;

}

.navbar{
    margin-top: 1%;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 10%;
    margin-right: 20%;
}

.active{
    color: black
}


.navbar li .active{
    color: black;
    background-color: blue;
    border-radius: 5px;
}
.navbar li :hover{
    color: black;
}

.image-container {
  margin-left: 38%;
  margin-top: 15%;
  width: 50%;
  border-radius: 50%;
}

.pic {
    width: 38%;
    clip-path: circle();

}

.des-box {
    background-color: white;
    width: 40%;
    height: 5%;
    margin-left: 28%;
    margin-right: 40%;
    margin-top: 15px;

}

.describe {
    margin-left: 30px;
    margin-top: 1.5%;
    font-size: 150%;
    font-weight: 700;
    color: blue;
    text-align: center;
    padding-right: 15px
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.title {
    width: 20%;
    padding-top: 200px;
    color: blue;
    font-size: 320%;
    font-weight: 700;
    margin-left: 45%;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: blue;
    display: inline-block;
    margin-bottom: 50px;
}

/*About Page*/
.section{
    width: 100%;
    background-color: black;
    margin-bottom: 100px;
}
.container{
    width: 200%;
}

.About_me{
    width: 180%;
    font-weight: 600;
    padding-left: 70%;
    padding-top: -100px;
}

.content p{
    width: 150%;
    font-weight: 300;
    font-size: 120%;
    padding-left: 20%;
}

.content-section{
    float: left;
    width: 55%;
}

.resume{
    float: right;
    width: 100%;
    padding-top: 200px;
    padding-left: 25%;

}

.resume img{
    width: 60%;
    height: 35%;
    border: 5px solid blue;
    border-radius: 8px
}

.resume_button{
    width: 60%;
    height: 15%;
    background-color: red;
    border-radius: 8px;
}

.resume_button:hover{
    background-color: white;
}

.resume_button h4{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 120%;
    font-weight: 600;
}

.resume_button h4:hover{
    color: red;
    text-align: center;
    padding-top: 5px;
}
                                                /*Skills Page*/

.dividerr {
    width: 60%;
    height: 3px;
    background-color: black;
    display: inline-block;
    margin-bottom: 50px;
}



.subtitle{
    text-align: center;
    font-weight: 600;
}

.container
{
    width: 100%;
    padding-top: 150px;
}

.container h2 {
    color: #fff;
}

.container .skills {
    position: relative;
    margin-bottom: 20px;
    padding: 24px 10px 18px;
    background: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #000;
    transition: 0.5s;
}

.container .skills:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.1);
    z-index: 10;
}

.container .skills .name{
    text-align: center;
    color: white;
    margin-top: -2px;
    margin-left: 35%;
    text-transform: uppercase;
}


/*Rigth Side*/


.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.wrapper .card{
    width: 100%;
    background: red;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    background: linear-gradient(#616161 0%, #333 10%, #222);

}

.wrapper .card .circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%
}

.card .circle .boxx,
.card .circle .boxx span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: blue;
}

.card .circle .boxx {
    height: 100%;
    width: 100%;
    background: white;
    transform: translate(-50%, -50%) scale(0.8);
    border-radius: 50%;
}


.card .circle .boxx span{
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    transform: translate(-45%, -50%);
}

.card .text{
    font-size: 20px;
    color: white;

}

                                                /*Pojects*/


#program_img{
    width: 25%;
}


.contentt{
    width: 80%;
    background: blue
}

.contentt h2{
    font-weight: 600;
}

.technologies{
    background: white;
    text-decoration: none;

}

.technologiess{
    width: 80%;
    background: white;
    text-decoration: none;

}
.git{
    background: grey;
    margin-left: 40%;
    width: 20%;
    border-radius: 5px;
    text-decoration: none;
}

.git h3{
    font-size: 150%;
    text-decoration: none;
}

.technologies h3{
    color: black;
    margin-left: 18%;
    text-decoration: none;
}
.technologiess h3{
    color: black;
    margin-left: 30%;
    text-decoration: none;
}
.remove_underline{
    color: black;
    text-decoration: none;
}

.live{
    background: grey;
    margin-left: 40%;
    width: 20%;
    border-radius: 5px;
    text-decoration: none;
}

.live h3{
    font-size: 150%;
    text-decoration: none;
}

#icon_gg{
    font-size: 100%;
    border-radius: 100%;
    color: black;
    text-decoration: none;
}
#icon_ll{
    font-size: 100%;
    border-radius: 100%;
    color: red
}


.programs {

  background-color: white;
  color: black;
  list-style-type: none;
  text-align: center;
  font-size: 70%;
}

.programss {
  background-color: white;
  color: black;
  list-style-type: none;
  text-align: center;
  font-size: 70%;
}

.programs img{
    width: 27%;
}

.programss img{
    width: 25%;
}
.programs program_img{
    font-size: 50%;
}


.programs li {
  display: inline-block;
  font-size: 170%;
  padding: 20px;
}

.programss li {
  display: inline-block;
  font-size: 170%;
  padding: 20px;
}



.imgBx img{
    width: 80%;
    height: 40%
}

.containerrr{
    margin-left: 10%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.containerrr .cardd{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background: black;
    border: 4px solid black;
    border-radius: 5%;
}

.containerrr .cardd:nth-child(even)
{
    flex-direction: column-reverse;
}





.message{
    background-color: yellow;
    color: red
}
.moreText{
    display: none;
}
.read-more-btn{
    padding: 10px 40px;
    background-color: yellow;
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;

}
.text1.show-more .moreText{
    display: inline;
}

.moreText2{
    display: none;
}
.read-more-btn2{
    padding: 10px 40px;
    background-color: yellow;
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;

}
.text2.show-more .moreText2{
    display: inline;
}

                                       /*Contact Page*/
.contact{
    position: relative;
    min-height: 100vh;
    padding:  50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.cont .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column
}
.cont .contactinfo .boox{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.cont .contactinfo .boox .icon{
    min-width: 60px;
    height: 60px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.cont .contactinfo .boox .teext{
    display: flex;
    margin-left: 20px;
    font-size: 100%;
    color: blue;
    flex-direction: column;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.cont .contactinfo .boox .teext h3{
    font-weight: 500;
    font-size: 200%;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}
.contactForm{
    width: 45%;
    padding: 40px;
    background: cyan;
}
.contactForm h2{
    font-size: 200%;
    color: #333;
    font-weight: 300
}

.row .f{
    font-size: 100%;
}

.row .c{
    font-size: 100%;
}

#button{
    border: 5px solid blue;
    background-color: blue;
    height: 50px;
}
#button:hover{
    background-color: cyan;
    border: 5px solid blue;
}

.social{
    width: 100%;
    height: 40px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px
}

#icon_l{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_l:hover{
    font-size: 200%;
    margin-right: 20px;
    color: blue
}
#icon_g{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_g:hover{
    font-size: 200%;
    margin-right: 20px;
    color: black
}
#icon_f{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_f:hover{
    font-size: 200%;
    margin-right: 20px;
    color: blue
}
#icon_i{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_i:hover{
    font-size: 200%;
    margin-right: 20px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
   -webkit-background-clip: text;
   background-clip: text;
}


@keyframes animate
{
    from
    {
        width: 0;
    }
}


@media screen and (max-width: 770px) {
.bar {
    width: 100%
}
.navbar{
    font-size: 90%;
    background-color: red;
    margin-left: 10%;
}

.image-container {
  margin-top: 30%;
}

.describe {
    font-size: 70%;
}


.title {
    font-size: 180%;
    margin-left: 38%;
}

.About_me{
    font-size: 120%;
}

.content p{
    font-size: 80%;
    padding-left: 20%;
}

.subtitle{
    font-size: 150%;
}

.container .skills .name{
    margin-left: 10%;
}
.card .text{
    font-size: 100%;
    color: white;
}
.card .circle .boxx span{
    font-size: 150%;
}

.git{
    width: 30%;
}
.live{
   width: 30%;
}

.contentt h2{
    font-size: 120%;
}
.cont .contactinfo .boox .teext h3{
    font-size: 120%;
}
.cont .contactinfo .boox .teext p{
    font-size: 80%;
}
.cont .contactinfo .boox .icon{
    min-width: 40px;
    height: 40px;
    font-size: 15px;
}
.contactForm h2{
    font-size: 120%;
}
.row .f{
    font-size: 70%;
}

.row .c{
    font-size: 70%;
}
#button{
    font-size: 100%;
    height: 40px;
}

}