body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Raleway', sans-serif;
    color: #fff
}

*{
    list-style: none;
    padding: 0;
}

.page {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: left;
    /*background-image: url('{% static "images/3.jpg" %}');*/
    background-image: url(/static/images/4.jpg);
    background-repeat: no-repeat;
}

.page .navbar {
    margin-top: 1%
}
.bar {
    position: fixed;
    z-index:1;

}

.navbar{
    margin-bottom: 20px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.active{
    color: black
    margin-right: 350px;
}

.page .nav li a{
    color: #rrr;
    font-size: 1.2em;
    font-weight: 700;
}

.navbar li .active{
    color: black;
    background-color: blue;
    border-radius: 5px;
}
.navbar li :hover{
    color: black;
}

.b{
    margin-left: 750px;
}

.image-container {
  position: sticky;
  z-index: 000;
  margin-left: 620px;
  margin-top: 200px;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.pic {
    width: 250px;
    clip-path: circle();

}

.des-box {
    background-color: white;
    width: 320px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 5px;
}

.describe {
    margin-left: 30px;
    font-size: 22px;
    font-weight: 700;
    color: blue;
    text-align: center;
    padding-right: 15px
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.title {
    padding-top: 100px;
    color: blue;
    font-size: 50px;
    font-weight: 700;
    margin-left: 700px;
}

.divider {
    width: 1500px;
    height: 3px;
    background-color: blue;
    display: inline-block;
    margin-bottom: 50px;
}

/*About Page*/
.section{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.About_me{
    font-weight: 700;
    padding-left: 100px;
    padding-top: 100px;
}

.content p{
    font-weight: 700;
    padding-left: 100px;
}

.content-section{
    float: left;
    width: 55%;
}

.resume{
    float: right;
    width: 40%;
    padding-top: 100px;

}

.resume img{
    width: 70%;
    height: 400px;
    border: 5px solid blue;
    border-radius: 8px
}

.resume_button{
    float: left;
    width: 70%;
    height: 50px;
    background-color: red;
    border-radius: 8px;
}

.resume_button:hover{
    background-color: white;
}

.resume_button h4{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    font-weight: 600;
}

.resume_button h4:hover{
    color: red;
    text-align: center;
    padding-top: 5px;
}
/*Skills Page*/

.leftside, .rightside{
    width: 100%;
    background: black;
}

.subtitle{
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px
}

.container
{
    width: 600px;
}

.container h2 {
    color: #fff;
}

.container .skills {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    padding: 24px 10px 18px;
    background: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #000;
    transition: 0.5s;
}

.container .skills:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.1);
    z-index: 10;
}

.container .skills .name{
    position: relative;
    width: 130px;
    text-align: right;
    color: blue;
    margin-top: -2px;
    text-transform: uppercase;
}

.container .skills .value{
    position: relative;
    width: 40px;
    text-align: left;
    color: blue;
    margin-top: -4.5px;
    text-transform: uppercase;
}

.container .skills .percent {
    position: relative;
    width: 400px;
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: blue;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.container .skills .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 0 2px #000;
    animation: animate 1s ease-in-out forwards;
}


/*Rigth Side*/


.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    align-items: center;
    justify-content: space-between;
}

.wrapper .card{
    width: 49.5%;
    background: red;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    background: linear-gradient(#616161 0%, #333 10%, #222);

}

.wrapper .card .circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%
}

.card .circle .boxx,
.card .circle .boxx span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: blue;
}

.card .circle .boxx {
    height: 100%;
    width: 100%;
    background: white;
    transform: translate(-50%, -50%) scale(0.8);
    border-radius: 50%;
}


.card .circle .boxx span{
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    transform: translate(-45%, -50%);
}

.card .text{
    font-size: 20px;
    color: blue;

}

                                                /*Pojects*/
.features-grid-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
}

.contentt{
    background: blue
}
.imgBx img{
    width: 600px;
    height: 300px
}
.containerrr{
    margin-left: 140px;
    position: relative;
    width: 1200px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.containerrr .cardd{
    position: relative;
    display: flex;
    flex-direction: column;
    background: black;
    border: 4px solid black;
    border-radius: 5%;
}

.containerrr .cardd:nth-child(even)
{
    flex-direction: column-reverse;
}

.containerr .cardd .imgBx
{
    position: relative;
    width: 250px;
    height: 250px;
    background: #000;
}
.containerr .cardd .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerr .cardd .contentt
{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    background-color: yellow;
    color: red
}
.moreText{
    display: none;
}
.read-more-btn{
    padding: 10px 40px;
    background-color: white;
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;

}
.text1.show-more .moreText{
    display: inline;
}
                                       /*Contact Page*/
.contact{
    position: relative;
    min-height: 100vh;
    padding:  50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.cont .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column
}
.cont .contactinfo .boox{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.cont .contactinfo .boox .icon{
    min-width: 60px;
    height: 60px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.cont .contactinfo .boox .teext{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: blue;
    flex-direction: column;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.cont .contactinfo .boox .teext h3{
    font-weight: 500;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: cyan;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 300
}
#button{
    border: 5px solid blue;
    background-color: blue;
    height: 50px;
}
#button:hover{
    background-color: cyan;
    border: 5px solid blue;
}

.social{
    width: 100%;
    height: 40px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px
}

#icon_l{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_l:hover{
    font-size: 200%;
    margin-right: 20px;
    color: blue
}
#icon_g{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_g:hover{
    font-size: 200%;
    margin-right: 20px;
    color: black
}
#icon_f{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_f:hover{
    font-size: 200%;
    margin-right: 20px;
    color: blue
}
#icon_i{
    font-size: 200%;
    margin-right: 20px;
    border-radius: 100%;
    color: red
}
#icon_i:hover{
    font-size: 200%;
    margin-right: 20px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
   -webkit-background-clip: text;
   background-clip: text;
}


@keyframes animate
{
    from
    {
        width: 0;
    }
}


@media screen and (max-width: 1480px) {
    .page {
        background-size: 100%;
    }

    .navbar{
        width: 80%;
        height: 60px;
    }

    .b{
        margin-left: 10px
    }

    .navbar ul{
        margin-left: 15%;
    }

    .image-container {
      margin-left: 35%;
    }
    .pic {
        width: 70%;
    }
    .describe {
        margin-left: 10px;
        font-size: 30px;
    }

    .des-box {
        margin-left: 38%;
    }

    .title {
        margin-left: 45%;

    }
    .divider {
        width: 100%;
        padding-left: 20px;
    }

    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 10px;
        margin-left: 20%;
    }

    .About_me {
        font-weight: 200;
        margin-left: 25%;
        padding-top: 10px;
        width: 300px;
    }

    .containerr{
        margin-left: 30%;
        width: 200px;
    }


    .content p{
        font-weight: 200;
        padding-left: 30%;
    }

    .resume{
        float: left;
        margin-left: 0%;
        width: 700px;
    }

    .resume img{
        width: 500px;
        height: 600px;
    }

    .resume_button{
        width: 500px;
        height: 70px;
        margin-bottom: 120px;
    }


    .wrapper {
        display: flex;
        width: 798px;
        margin-left: 15%;
    }

    .wrapper .card{
        width: 34%;
        height: 250px;
        margin-left: 70px;
        margin-right: 50px;

    }

    .containerrr {
        margin-left: 16%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }


    .contentt{
        width: 600px;
    }

    .imgBx img{
        width: 600px;
    }


    .contentt{
        background: blue;
        width: 500px;
    }
    .imgBx img{
        width: 500px;
        height: 300px
    }

    .containerrr .cardd{
        margin-left:  15%;
    }

    .contentt h2{
        font-size: 20px;
        font-weight: 600;
        margin-left: 40%;
    }
    .contentt p{
        font-size: 15px;
    }


    .contenttt{
        margin-left: -20px;
    }
    .cont .contactinfo .boox .icon{
        min-width: 60px;
        height: 60px;
    }
    .cont .contactinfo .boox .teext{
        margin-left: 20px;
        font-size: 15px;
    }
    .cont .contactinfo .boox .teext h3{
        font-weight: 500;
        font-size: 15px;
    }
    .contactForm{
        width: 50%;
        padding: 25px;
        margin-left: 30px;
    }





    .containerrr .cardd:nth-child(even)
    {
        flex-direction: column;
    }

}

/*tablets*/

@media screen and (max-width: 768px){

    .navbar{
        margin-bottom: 20px;
        margin-left: 10px;
        padding-left: 1px;
        width: 550px;
    }


    .page .nav li a{
        color: #rrr;
        font-size: 90%;
        font-weight: 700;
    }


    .b{
        margin-left: 1px;
    }

    .image-container {
      margin-left: 30%;
    }

    .pic {
        width: 100%;
    }

    .des-box {
        margin-left: 30%;
        width: 50%;
    }

    .describe {
        margin-left: 10px;
        font-size: 100%;

    }

    .title {
        margin-left: 45%;
        font-size: 50px;
    }

    .containerr{
        margin-left: -50px;
        width: 200px;
    }

    .content-section{
        margin-left: 50px;
        width: 200px;
    }
    .About_me {
        font-weight: 300;
        font-size: 28px;
        margin-left: 80%;
        padding-top: 1px;
        width: 200px;
    }
    .content p{
        margin-left: 75%;
        font-weight: 100;
        padding-left: 10%;
        font-size: 12px;
    }

    .resume{
        float: left;
        margin-left: 50%;
        width: 300px;
    }

    .resume img{
        width: 350px;
        height: 300px;
        margin-left: 50px;
    }

    .resume_button{
        width: 350px;
        height: 40px;
        margin-left: 50px;
    }
    .resume_button h4{
        font-size: 15px;
    }


    .subtitle{
        font-size: 25px;
    }
    .skills{
        width: 300px;
        height: 60px;
        font-size: 10px;
        margin-left: 20%
    }

    .container .skills .percent {
        width: 250px;
        height: 10px;
        margin: -10 20px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        align-items: center;
        justify-content: space-between;
        margin-left: 6%
    }

    .wrapper .card{
        width: 50%;
        height: 200px;
        margin-left: 120px;
        margin-right: 35px;
        background: linear-gradient(#616161 0%, #333 10%, #222);

    }

    .card .circle .boxx span{
        font-size: 30px;
    }

    .card .text{
        font-size: 16px;
        font-weight: 100;
    }
    .features-grid-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
}

    .contentt{
        background: blue;
        width: 500px;
    }
    .imgBx img{
        width: 500px;
        height: 300px
    }

    .containerrr .cardd{
        margin-left:  15%;
    }

    .contentt h2{
        font-size: 20px;
        font-weight: 600;
        margin-left: 40%;
    }
    .contentt p{
        font-size: 15px;
    }


    .contenttt{
        margin-left: -20px;
    }
    .cont .contactinfo .boox .icon{
        min-width: 60px;
        height: 60px;
    }
    .cont .contactinfo .boox .teext{
        margin-left: 20px;
        font-size: 15px;
    }
    .cont .contactinfo .boox .teext h3{
        font-weight: 500;
        font-size: 15px;
    }
    .contactForm{
        width: 50%;
        padding: 25px;
        margin-left: 30px;
    }

    .row .f {
        font-size: 15px;
        width: 250px;
    }
    .row .c {
        font-size: 15px;
        width: 250px;
        height: 100px
    }
    .contactForm h2{
        font-size: 15px;
        font-weight: 400
    }
    #button{
        width: 80px;
        height: 45px;
        font-size: 15px;
    }


}
/*mobile phones*/

@media screen and (max-width: 520px){

    .navbar{
        margin-bottom: 20px;
        margin-left: 20px;
        height: 80px;
        width: 420px;
        text-align: center
    }
    .nav {
        width: 750px;
        margin-left: 150px;
        height: 50px;
        font-size: 32px;
    }
    .active{
        height: 50px;
        width: 70px;

    }
    .page .nav li{
        width: 71px;
        margin-left: -2px;

    }
    .page .nav li a{
        color: #rrr;
        font-size: 40%;
        font-weight: 700;
        margin-left: -20px;
    }


    .b{
        margin-left: 1px;
    }

    .image-container {
      margin-left: 30%;
      margin-top: 200px;
    }

    .pic {
        width: 100%;
    }

    .des-box {
        margin-left: 30%;
        width: 50%;
    }

    .describe {
        margin-left: 10px;
        font-size: 100%;

    }
    .title{
        margin-left: 40%;
        font-size: 200%;
    }
    .About_me {
        margin-left: 48%;
        font-size: 150%;
    }


    .content p{
        margin-left: 8%;
        font-size: 80%;

    }
    .resume {
        margin-left: 10%;
        width: 500px;
    }
    .resume img{
        margin-left: 20%;
        width: 300px;
        height: 300px;
    }
    .resume_button{
        width: 300px;
        height: 50px;
        font-size: 80%;
    }
    .resume_button h4{
        font-size: 120%;
    }

    .subtitle{
        margin-left: -10%;
        font-size: 100%;
    }
    .skills{
        margin-left: 0%
    }

    .wrapper {
        margin-left: 0%
    }

    .wrapper .card{
        width: 73%;
        height: 200px;
        margin-left: 50px;
        margin-right: 40px;
        background: linear-gradient(#616161 0%, #333 10%, #222);

    }

    .card .circle .boxx span{
        font-size: 30px;

    }

    .card .text{
        font-size: 15px;
    }
    .features-grid-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
}

    .contentt{
        background: blue;
        width: 300px;
    }
    .imgBx img{
        width: 300px;
        height: 150px
    }

    .containerrr .cardd{
        margin-left:  15%;
    }

    .contentt h2{
        font-size: 10px;
        font-weight: 600;
        margin-left: 40%;
    }
    .contentt p{
        font-size: 8px;
    }


    .contenttt{
        margin-left: -20px;
    }
    .cont .contactinfo .boox .icon{
        min-width: 40px;
        height: 40px;
    }
    .cont .contactinfo .boox .teext{
        margin-left: 20px;
        font-size: 8px;
    }
    .cont .contactinfo .boox .teext h3{
        font-weight: 500;
        font-size: 10px;
    }
    .contactForm{
        width: 50%;
        padding: 25px;
        margin-left: 30px;
    }
    .row .f {
        font-size: 8px;
        width: 150px;
    }
    .row .c {
        font-size: 8px;
        width: 150px;
        height: 100px
    }
    .contactForm h2{
        font-size: 10px;
        font-weight: 400
    }
    #button{
        width: 60px;
        height: 30px;
        font-size: 12px;
        height: 40px;
    }


@media screen and (max-width: 320px){

    .navbar{
        margin-bottom: 10px;
        margin-left: 0px;
        height: 60px;
        width: 270px;
        text-align: center
    }
    .nav {
        width: 700px;
        margin-left: 10px;
        height: 50px;
    }
    .active{
        height: 40px;
    }

    .title{
        margin-left: 40%;
    }
    .About_me {
        margin-left: 28%;

    }
    .content p{
        margin-left: -5%;
        font-size: 7px;
    }

    .resume{
        margin-left: -10%;
    }



    .subtitle{
        margin-left: -10%;
    }
    .skills{
        margin-left: -13%
    }

    .wrapper {
        margin-left: -15%
    }



    .contentt{
        background: blue;
        width: 200px;
    }
    .imgBx img{
        width: 200px;
        height: 150px
    }

    .containerrr .cardd{
        margin-left:  5%;
    }


    .contenttt{
        margin-left: 10px;
    }

    .cont .contactinfo .boox .teext{
        margin-left: 10px;
        font-size: 8px;
    }

    .contactForm{
        width: 45%;
        height: 250px;
        padding: 5px;
        margin-left: 15px;
    }
    .row .f {
        font-size: 8px;
        width: 110px;
    }
    .row .c {
        font-size: 8px;
        width: 110px;
        height: 100px
    }

}